{% extends "base.html" %}

{% block content %}

{% include "navbar.html" with title_pager="Hakkımızda" %}
    <style>
        .liste li{
            margin-bottom: 10px
        }
    </style>
    <div class="container my-5">
        <div class="cards" style="margin-top: 4rem">
            <h2 style="font-size: 1.5rem;font-family: 'Poppins';margin-bottom:20px">BİLİR İNŞAAT TİCARET TURİZM VE SANAYİ LİMİTED ŞİRKETİ</h2>
            <div>
                <img src="../static/images/binalar.jpg" style="border-radius: 20px; width: 250px; height: 250px;float:left;margin-right: 20px;object-fit: cover;" />
                <p style="font-family: 'Poppins';font-size: .9rem;">Firmamız 1992 yılında Ankara’da kurulmuştur. Mühendislik ve Genel Müteahhitlik hizmetleri sunmak amacı ile faaliyetine başlamıştır.<br><br>
                    Kuruluşunun ilk yıllarında alt yapı işleri; yol inşaatları, içme suyu ve kanalizasyon inşaatları ile kentsel çevre düzenleme ve büyük onarım alanlarında yoğunlaşmıştır. İlerleyen yıllarda alt yapı işleri ile birlikte üst yapı, prefabrik yapılar, çelik yapılar ve çevre projelerinin de devreye girmesi ile iş hacmini artırarak kamu kurum ve kuruluşları ile Özel sektörde isim yapmıştır.<br><br>
                    BİLİR İNŞAAT 30 yılı aşmış bilgi birikimi ve deneyimi ile tecrübeli teknik kadrosuyla beraber tamamladığı her projede takdir toplayarak bir marka olmuştur. Her yeni işte; proje ile teknik hizmeti , kalite ile teknolojiyi birleştirerek en kısa sürede en verimli hizmeti oluşturmayı kendisine ilke edinmiştir.</p>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="cards" style="margin-top: 6rem">
            <h2 style="font-size: 1.5rem;font-family: 'Poppins';margin-bottom:20px">KALİTE POLİTİKAMIZ</h2>
            <div>
                <img src="../static/images/binalar.jpg" style="margin-left: 20px;border-radius: 20px; width: 250px; height: 250px;object-fit: cover;float:right;" />
                <ul class="liste" style="font-family: 'Poppins';font-size: .9rem;">
                    <li>Müşteri istek ve beklentilerini tam olarak karşılamak.</li>
                    <li>Şirketimizin ana sermayesini oluşturan insan kaynaklarımızın, tatmini, eğitimi ve gelişimini sağlamak.</li>
                    <li>Takım çalışması yapmak.</li>
                    <li>Hizmetlerimizi yasalar, etik kurallara uyarak yapmak.</li>
                    <li>Karşılıklı güven ortamı sağlamak.</li>
                    <li>Şirketimizin saygınlığını korumak.</li>
                    <li>Kalite seviyemizin yükseltilmesi, verimliliğin artırılması için bilim ve teknolojideki gelişmeleri takip etmek ve uygulamak.</li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="cards" style="margin-top: 6rem">
            <h2 style="font-size: 1.5rem;font-family: 'Poppins';margin-bottom:20px">MİSYONUMUZ</h2>
            <div>
                <img src="../static/images/binalar.jpg" style="margin-right: 40px;border-radius: 20px; width: 250px; height: 250px;object-fit: cover;float:left;" />
                <ul class="liste" style="font-family: 'Poppins';font-size: .9rem;">
                    <li>Müşteri istek ve beklentilerini tam olarak karşılamak.</li>
                    <li>Şirketimizin ana sermayesini oluşturan insan kaynaklarımızın, tatmini, eğitimi ve gelişimini sağlamak.</li>
                    <li>Takım çalışması yapmak.</li>
                    <li>Hizmetlerimizi yasalar, etik kurallara uyarak yapmak.</li>
                    <li>Karşılıklı güven ortamı sağlamak.</li>
                    <li>Şirketimizin saygınlığını korumak.</li>
                    <li>Kalite seviyemizin yükseltilmesi, verimliliğin artırılması için bilim ve teknolojideki gelişmeleri takip etmek ve uygulamak.</li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="cards" style="margin-top: 6rem">
            <h2 style="font-size: 1.5rem;font-family: 'Poppins';margin-bottom:20px">VİZYONUMUZ</h2>
            <div>
                <img src="../static/images/binalar.jpg" style="margin-left: 20px;border-radius: 20px; width: 250px; height: 250px;object-fit: cover;float:right;" />
                <ul class="liste" style="font-family: 'Poppins';font-size: .9rem;">
                    <li>Ekonomik ve sorunsuz hizmet sunmak,</li>
                    <li>Yurtiçi ve Yurt dışında sektöründe lider olmak,</li>
                    <li>Kurumsal mükemmelliğin ön koşulu olan ekip mükemmelliği ile birlikte inşaat konusunda verdiğimiz hizmetlerin gelişimini ve sürekliliğini sağlamak,</li>
                    <li>Kamu kurumları ile özel sektör hizmet alanlarında küresel bir şirket olarak yetenek ve bilgilerimizi sunmak.</li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>



    {% endblock %}