{%load static%}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col" id="logo">
                <img src="{% static 'images/logo.svg' %}" alt="bilir-insaat">
            </div>
            <div class="footer-col">
                <h4>İletişim Bilgileri</h4>
                <ul>
                    <li><a href="#">mail</a></li>
                    <li><a href="#">Telefon Numarasi</a></li>
                    <li><a href="#">Adres</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Hizli Baglantilar</h4>
                <ul>
                    <li><a href="#">Ana Sayfa</a></li>
                    <li><a href="#">Hakkimizda</a></li>
                    <li><a href="#">Iletisim</a></li>
                    <li><a href="#">Referanslar</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Hizmetler</h4>
                <ul>
                    <li><a href="#">Bilgisayar Muhendisligi</a></li>
                    <li><a href="#">Insaat Muhendisligi</a></li>
                    <li><a href="#">Endustri Muhendisligi</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-text">
        <p>@ 2022 <a href="#">Bilir Insaat Tic. Tur. ve San. Ltd. Sti</a> tum haklari saklidir.</p>
        <p>Bu Site Size <a href="https://www.apolyum.com/">Apolyum</a> tarafindan hazirlanmistir.</p>
        </div>
    </div>
</footer>